/********** General ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/************ Header **************/
header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0 40px;
    height: 55px;
    justify-content: space-between;
    font-size: 17px;
    position: relative;
}

header a {
    color: black;
}

header nav ul, header > div {
    display: flex;
    align-items: center;
}

header .enlaces {
    gap: 30px; 
}

header .left {
    gap: 40px;
    height: 100%;
}

header nav > ul {
    gap: 20px;
    height: 100%;
}

header .enlaces a:last-child {
    background-color: rgb(248, 94, 33);
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

header .enlaces a:first-child {
    font-weight: bold;
}

header .options {
    position: absolute;
    opacity: 0;
    top: 100%;
    background-color: rgb(243, 242, 242);
    padding: 30px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    justify-content: space-between;
    transition: opacity .6s;
    visibility: hidden;
    border-radius: 0 0 15px 15px;
}

header .options > div, header .options ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

header .options ul a {
    transition: color .3s;
}
header .options ul a:hover {
    color:rgb(248, 94, 33);
}

header .options h2 {
    font-size: 23px;
    margin-bottom: 20px;
}

header .options li {
    margin-bottom: 10px;
}

header .item:hover ~ .options {
    opacity: 1;
    visibility: visible;
}

header nav, header .item {
    height: 100%;
    align-items: center;
    display: flex;
}

header nav > ul > li {
    height: 100%;;
}

header nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

header .options:hover {
    opacity: 1;
    visibility: visible;
}

header .toggle, header .close {
    width: 30px;
    display: none;
}

header .close img {
    width: 30px;
}

/************** Menu ******************/
.menu {
    gap: 20px;
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 30px;
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    position: fixed;
    top: 55px;
    left: 0;
}

body {
    overflow-y: scroll;
}

.menu:target {
    visibility: visible;
}

.menu, .menu ul {
    display: flex;
    flex-direction: column;
}

.menu ul {
    gap: 20px;
}

.menu a {
    color: black;
}

.menu a:hover {
    color:rgb(248, 94, 33);
}

.menu ul:last-child {
    border-top: 1px solid gray;
    padding-top: 20px;
}

.menu ul:last-child li {
    border-bottom   : 1px solid gray;
    padding-bottom: 10px;
}

.menu > a:first-child {
    background-color: rgb(248, 94, 33);
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.menu > a:nth-child(5) {
    border: 1px solid rgb(248, 94, 33);
    background-color: white;
    color:rgb(248, 94, 33);
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

/********** Bg ***********/
.bg {
    background: linear-gradient(rgba(0,0,0,.2) 100%, transparent), url("../../rg/img/dfp-alquiler.webp");
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.bg h1 {
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
}

.bg > div {
    background-color: rgba(0,0,0, .5);
    padding: 30px 40px;
    border-radius: 20px;
    width: 70%;
    text-align: center;
}

.bg form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.bg input, .bg select {
    height: 45px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    font-size: 17px;
    border: 1px solid rgb(155, 152, 152);
}

.bg select {
    color: black;
    padding-right: 30px;
}

.bg input {
    flex: 2;
}

.bg button {
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgb(248, 94, 33);
    color: white;
    border-radius: 10px;    
}

/********* First ***********/
.first {
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 40px 0; 
}

.first h2 {
    font-size: 32px;
}

.first .cont-buttons {
    display: flex;
    gap: 25px;
    width: fit-content;
    margin: 30px auto;
}

.first .cont-buttons button {
    background-color: transparent;
    padding-bottom: 4px;
    transition: all .3s;
    border-bottom: 2px solid white;
}

.first .cont-buttons button.active {
    font-weight: bold;
    border-color: rgb(248, 94, 33);
}

.first .train {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.first .trainMove {
    display: flex;
    justify-self: center;
    width: 500%;
}

.first .trainMove .cont-box {
    display: flex;
    gap: 30px;
    width: 20%;
    transition: opacity .6s;
    opacity: 0;
}

.first .trainMove .cont-box:first-child {
    opacity: 1;
}

.first .box {
    flex: 1;
    background-color: white;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 10px;
    overflow: hidden;
    text-align: start;
    padding-bottom: 10px;
}

.first .box div {
    color: gray;
}

.first .box span {
    font-size: 20px;
    font-weight: bold;
}

.first .box div, .first span, .first h5, .first h4 {
    padding: 0 10px;
    margin-top: 8px;
}

.first .box img {
    width: 100%;
    object-fit: cover;
}

.first a {
    border: 1px solid rgb(248, 94, 33);
    color: rgb(248, 94, 33);
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
}

/************* Second **************/
.second {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.second h2 {
    font-size: 32px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.second .slider {
    width: 100%;
    overflow: hidden;
}

.second .sliderMove {
    width: calc(250%);
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform .6s;
}

.second .box {
    width: calc(10% - 20px);
    background-color: white;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 10px;
    overflow: hidden;
    text-align: start;
    padding-bottom: 10px;
}

.second .box div {
    color: gray;
}

.second .box span {
    font-size: 20px;
    font-weight: bold;
}

.second .box div, .second span, .second h5, .second h4 {
    padding: 0 10px;
    margin-top: 8px;
}

.second .box img {
    width: 100%;
    object-fit: cover;
}

.second .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.second .left {
    left: -8px;
    visibility: hidden;
}

.second .right {
    right: -8px;
}

/************* Third **************/
.third {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.third h2 {
    font-size: 32px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.third .slider {
    width: 100%;
    overflow: hidden;
}

.third .sliderMove {
    width: calc(250%);
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform .6s;
}

.third .box {
    width: calc(10% - 20px);
    background-color: white;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 10px;
    overflow: hidden;
    text-align: start;
    padding-bottom: 10px;
}

.third .box div {
    color: gray;
}

.third .box span {
    font-size: 20px;
    font-weight: bold;
}

.third .box div, .third span, .third h5, .third h4 {
    padding: 0 10px;
    margin-top: 8px;
}

.third .box img {
    width: 100%;
    object-fit: cover;
}

.third .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.third .left {
    left: -8px;
    visibility: hidden;
}

.third .right {
    right: -8px;
}

/************ Fourth ************/
.fourth {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 60px;
}

.fourth h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.fourth > span {
    color: gray;
    margin-bottom: 25px;
    display: block;
}

.fourth .box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.fourth .box {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.fourth .box h4 {
    margin-bottom: 6px;
    font-size: 18px;
}

.fourth .box .index {
    background: linear-gradient(153.06deg,#6d17cb -.31%,#2876f9 99.69%);
    font-weight: 700;
    font-size: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 90px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
}

/********** Footer ************/
footer {
    width: 100%;
    padding-top: 50px;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    flex-direction: column;
}

footer .flex-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    width: 95%;
}

footer > a {
    margin-left: 2.5%;
}

footer .box {
    flex: 1;
}

footer .box h2 {
    margin-bottom: 20px;
}

footer .box li {
    margin-bottom: 10px;
}

footer .redes img {
    filter: invert(100%);
}

footer .box h3 {
    margin: 50px 0 30px;
}

footer .apps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer .foot {
    width: 100%;
    background-color: rgba(0,0,0,.4);
    padding: 15px 30px;
    font-size: 15px;
    margin-top: 30px;
}

footer .foot span {
    margin-bottom: 15px;
    display: block;
}

footer .foot ul {
    display: flex;
    gap: 10px;
}

@media (max-width: 1000px) {
    /******* Header *********/
    header .toggle {
        display: block;
    }

    header nav, header .enlaces {
        display: none;
    }

    /************** Bg ************/
    .bg > div {
        width: 90%;
    }

    /********** First ***********/
    .first .train {
        width: 90%;
    }
    
    /********** Second *********/
    .second .sliderMove {
        width: calc(300% + 100%/3);
    }
    
    /********** Third *********/
    .third .sliderMove {
        width: calc(300% + 100%/3);
    }

    /*********** Fourth ***********/
    .fourth .box-grid {
        grid-template-columns: 1fr;
    }

    .fourth .box .index {
        width: 70px;
    }

    /*********** Footer ***************/
     footer .flex-box {
        flex-wrap: wrap;
        justify-content: start;
    }

    footer .box {
        flex: none;
        width: 250px;
    }

    footer .foot, footer .foot ul {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 850px) {

    /********** Bg ************/
    .bg form {
        flex-direction: column;
    }

    .bg input {
        flex: none;
    }

    .bg h1 {
        padding: 0 10px;
        text-align: center;
        font-size: 30px;
    }

    .bg input, .bg select, .bg button {
        height: 35px;
        font-size: 15px;
    }

    .bg > div {
        width: 95%;
    }
}

@media (max-width: 650px) {
    /******** First ********/
    .first .cont-box .box:first-child {
        display: none;
    }
    
    /******* Second *********/
    .second .sliderMove {
        width: 500%;
    }
    
    /******* Third *********/
    .third .sliderMove {
        width: 500%;
    }
    
    /*********** Fourth ***********/
    .fourth .box .index {
        width: 90px;
    }
}

@media (max-width: 480px) {
    /*********** First ***********/
    .first .cont-buttons {
        justify-content: center;
        padding: 0 10px;
        flex-wrap: wrap;
    }

    /********** Bg **********/
    .bg > div {
        padding: 20px;
    }

    /********** Fourth *********/
    .fourth {
        padding: 40px 20px;
    }

    .fourth h2 {
        text-align: center;
    }

    .fourth .box {
        gap: 20px;
    }
    
    .fourth .box .index {
        width: 110px;
        font-size: 30px;
        height: 35px;
    }
}